[Unit]
Description=Boot Display Service
DefaultDependencies=no
Requires=dev-i2c-1.device
After=dev-i2c-1.device systemd-udev-settle.service
Before=sysinit.target
Conflicts=shutdown.target
ConditionPathExists=/dev/i2c-1

[Service]
Type=simple
User=root
Environment=PYTHONPATH=/home/admin/Radiowecker
WorkingDirectory=/home/admin/Radiowecker
ExecStart=/usr/bin/python3 /home/admin/Radiowecker/boot_display.py
RemainAfterExit=no

[Install]
WantedBy=sysinit.target
Also=dev-i2c-1.device
