[Unit]
Description=Boot Display Service
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs.target dev-i2c-1.device
Before=sysinit.target
Requires=dev-i2c-1.device

[Service]
Type=simple
User=%USER%
WorkingDirectory=%HOME%/Radiowecker
ExecStart=/usr/bin/python3 %HOME%/Radiowecker/boot_display.py
RemainAfterExit=no

[Install]
WantedBy=sysinit.target
