[Unit]
Description=Initialize DigiAMP+ volume settings
Before=bluealsa.service
After=alsa-restore.service

[Service]
Type=oneshot
# Set base DAC volume to maximum
ExecStart=/usr/bin/amixer -c 0 cset numid=1 207,207
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
