[Unit]
Description=Radiowecker Service
After=network.target pulseaudio.service bluetooth.service
Wants=network.target

[Service]
Type=simple
User=%USER%
WorkingDirectory=%HOME%/Radiowecker
ExecStartPre=/bin/bash %HOME%/Radiowecker/mount_musik.sh
ExecStart=/usr/bin/python3 %HOME%/Radiowecker/main.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
